*{
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
}
p{
    background-color: #232323;
}
.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 300px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option {
    line-height: 2rem;
    opacity: 0.7;
    padding: 0.5rem 0.8rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1.25rem;
    margin-left: 0.7rem;
}
.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    padding: 0 1.5rem 0 1.5rem;
    overflow: auto;
}
 .music-player-bar-top {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100rvm;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}
.icons {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    gap: 1rem;
    opacity: 0.7;
}
.icons i {
    opacity: 1;
}
.icons:hover {
    opacity: 1;
}
.lib-box{
    background-color: #121212;
}
.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}
.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge {
    border-radius: 2rem;
    background-color: #f9f7f7;
    border: none;
    color: black;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.80rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem  0 1rem 0;
    z-index: 10;
}
.for-back {
    background-color: #121212;
    margin-left: 0.75rem;
}
.nav-exp{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-exp button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-right: 1.5rem;
    font-weight: 500;
}
.badge i{
    background-color: #fff;
    color: black;
}
@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}
.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.card-img {
    width: 100%;
    border-radius: 0.75rem;
}
.card-title {
    font-weight: 600;
}
.card-info {
    font-size: 0.85rem;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.6;
}

.song-1{
    width: 100%;
    display: flex; 
     align-items: center;
}
.terebina-img{
    width: 125px;
    height: 100%;
    margin-right: 0.2rem;
}
.music-info{
    margin-left: 0.8rem;
    background-color: #121212;
    color: #fff;
}
.music-info p{
    background-color: black;
    color: #fff;
}
.rating {
    margin-left: 1rem;
    background-color: black;
    color: #fff;
}
.follow-on{
    width: 60%;
    display: flex;
    text-align: right;
    margin-right: 60px;
}
